[user]
	name = Ryo Suzuki
	email = ryosuzk@gmail.com

[alias]
	st = status
	ad = add . --all
	cm = commit -am
	co = checkout
	mg = merge
	df = diff --color
	lg = log --color
[core]
	editor = vi
[push]
	default = matching
[github]
	user = 
	password = 
